.footer{
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer .logo img{
  width: 50%;
  margin-bottom: 1rem;
}

.footer .logo p {
  color: black;
}

.social_links span a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.footer_link-title{
  color: black;
  margin-bottom: 1rem;
}

.footer_quick-links li a{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  list-style: none;
}

.footer_quick-links h6 span i{
  color : orange;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.copyright{
  color: black;
  font-size: 1.5rem;
}